*{
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
nav {
    top:0; left:0; right:0;
    width: 100%;
    padding-top:2em;
    position:fixed;
    background-color:;
    height:auto;
    -webkit-transform: translate3d(0, 0, 0);
    overflow:hidden;
    background-color: white;
}
nav img {
    margin-left: auto;
    margin-right:auto;
    display:block;
    height:35%;
    width:35%;
}
h1{
    text-align:center;
    font-size:2em;
}
#first {
    margin-right:2.5em;
}
li {
    float:right;
    padding-right: 1em;
}
ul {
    list-style-type: none;
    display:inline;
    font-size:.9em;
}
ul a {
    color:black;
    text-decoration: none;
}
li a:hover {
    color:#FDE74C;
}
ul a:visited {
    color:black;
}
.content {
    margin-top:10em;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    width:50%;
    border-radius:5px;
    font-size:1.5em;
}

.slide {
    height:auto;
    margin-top:5em;
    margin-bottom:5em;
}
#slide1 {
    background-color:white;
    text-align: center;
}
#slide1 img {
    float:left;
    display: block;
    padding-top:4em;
    padding:1em;
}
#slide1 p{
    dislay:none;
}
#slide2 {
    background-color:#363636;
    text-align: center;
    color:white;
}
#submitbutton {
    font-family: 'Open Sans' , sans-serif;
}